<div id="gh-widget-projects">
{{#collection contentBinding="GithubWidget.projectsController"}}
	{{#view GithubWidget.ProjectView tagName="section" class="projects" 
			nameBinding="parentView.content.name"
			descriptionBinding="parentView.content.description"
			watchersBinding="parentView.content.watchers"
			forksBinding="parentView.content.forks"
			forkBinding="parentView.content.fork"
			privateBinding="parentView.content.private"
			languageBinding="parentView.content.language"
			pushed_atBinding="parentView.content.pushed_at"
			urlBindng="parentView.content.url" }}
		<header class="group">
		<h1 class="name" {{bindAttr class="fork public"}}>
				<a {{bindAttr href="content.url"}}>{{name}}</a>
			</h1>

			<ul class="repos-stats">
				<li>
					{{language}}
				</li>
				<li class="watchers">
					{{watchers}}
				</li>
				<li class="forks">
					{{forks}}
				</li>
			</ul>
		</header>
					
		<div class="body">
			<p class="description">{{description}}</p>
			<p class="updated-at">Last updated {{pushed_at}}</p>
		</div>
	{{/view}}

{{/collection}}
</div>
